*{
	box-sizing: box-border;
	font-family:Century Gothic ;
}


.title{
    text-align:center;
    color:white;
	position:absolute;
	bottom:10px;
	display: inline-block;
	font-size: 4vw;
}

.header{
	position: relative;
	margin:10px 0;
	padding: 5px;
	overflow: auto;
}





header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(sunburn.jpg);
height:100vh;
background-size:cover;
background-position:center;
}


.rel{
	align:center;
	margin-top:40px;
}
#span {
	text-decoration:underline;
	color:blue;
	cursor:pointer;
}
#p span{
	font-size:20px;
	padding:5px 40px 5px 40px;
	background-color: black;
	color:white;
	position:absolute;
	bottom:595px;
	left:450px;
	font-weight: bold;
	transition: 0.6s ease;

}
#p span:hover {
	background-color: white;
	color: black;
}

#p1 span{
	font-size:20px;
	padding:5px 40px 5px 40px;
	background-color: black;
	color:white;
	position:absolute;
	bottom:595px;
	left:603px;
	font-weight: bold;
	transition: 0.6s ease;

}
#p1 span:hover {
	background-color: white;
	color: black;
}

#p2 span{
	font-size:20px;
	padding: 5px 40px 5px 40px;
	background-color: black;
	color:white;
	position:absolute;
	bottom:595px;
	left:870px;
	font-weight: bold;
	transition: 0.6s ease;

}
#p2 span:hover {
	background-color: white;
	color: black;
}




#Homebtn h2{
margin-top:90px;
text-align:center;
color:white;
}

#Homebtn p{
font-size:2vw;
text-align:center;
color:white;
padding:15px;
}

#Registrationbtn{
	display:none;
}

#Registrationbtn form
{


color:white;
margin:100px 390px;
border:2px groove rgb(0, 255, 191);
padding:50px 100px;
background-color:transparent;

}

span{
color:yellow;
}


#Showregistrationbtn{
	display:none;
}
table{
	border-collapse:collapse;
	width:50%;
	margin:150px auto;
	background-color:rgb(79, 189, 189);
}

table, th, td{
	border: 2px solid black;
	padding:5px;
}

th{
	font-size: 30px;
	font-weight:700;
	color:#35339b;
}
td{
	font-size: 25px;
	color : crimson;
	font-weight: 400;

}